
<!DOCTYPE html>
<html>
    <head>
     <style>
      html {
          zoom: 0.85;
        }
    </style>
        
    </head>
    <body >
        <table style="width:700px; margin:0 auto; font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
        <th scope=''></th>
            <tr>
                <td colspan="2" style="font-size:13px;margin-bottom:50px;text-align: left; vertical-align: middle;">
                <img src="<%= logo %>" style="width: 100px; height:80px"></td>
                <td colspan="2" style="font-size:24px;margin-bottom:50px;text-align: right; vertical-align: middle;">Invoice</td>
            </tr>
            <tr>
            <td colspan="2" ></td>
            <td colspan="2" style="font-size:13px;margin-bottom:50px;text-align: right; vertical-align: middle;"> Invoice Date: <%= detail?.user_subscription?.invoice_date %> </td>
            </tr>
            <tr>
            <td colspan="2" ></td>
            <td colspan="2" style="font-size:13px;margin-bottom:50px;text-align: right; vertical-align: middle;" > 
            Invoice# : <%= detail?.user_subscription?.invoice_id %> </td>
            </tr>
            <tr>
                <td colspan="4" style="font-size:13px;"><hr></td>
            </tr>
            <tr style="width:700px;">
                <td colspan="4" style="margin-top:10px; margin-bottom:20px;">
                            <tr style="font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;"> 
                                <td colspan="2">
                                    <table  style="font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
                                    <th scope=''></th>
                                        <tr>
                                            <td style="width:350px; font-size:13px; font-weight:bold; text-align:left; padding:2px 0;">From: <%= detail?.companyInfo?.name %>
                                            </td>
                                        </tr>
                                        
                                            <tr>
                                            <td style="width:350px; font-size:13px; padding:2px 0; padding-left: 15px">
                                            <%= detail?.companyInfo?.address %>
                                            </td>
                                            </tr>
                                            <tr >
                                            <td style="width:350px; font-size:13px; padding:2px 0; padding-left: 15px"><%= detail?.companyInfo?.address_2 %>
                                            </td>
                                            </tr>
                                        
                                            <tr>
                                            <td style="width:350px; font-size:13px;padding:2px 0; padding-left: 15px">
                                            <%= detail?.companyInfo?.email %>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td style="width:350px; font-size:13px; padding:2px 0; padding-left: 15px">
                                              <%= detail?.companyInfo?.phone_ext %> <%= detail?.companyInfo?.phone %>
                                            </td>
                                            </tr>
                                    </table>
                                </td>
                                <td colspan="2">
                                    <table  style="font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; text-align:right">
                                    <th scope=''></th>  
                                                
                                        <tr style="text-align:right">
                                            <td style="width:350px; font-size:13px; font-weight:bold;padding:2px 0;">To : <%= detail.fullName %>
                                             </td>
                                        </tr>
                                        <tr>
                                            <td style="width:350px; font-size:13px; padding:2px 0;"> <%= detail?.user_billing?.billing_address %> </td>
                                        </tr>
                                        <tr>
                                            <td style="width:350px; font-size:13px; padding:2px 0;"> <%= detail?.stateName %> </td>
                                        </tr>
                                        <tr>
                                            <td style="width:350px; font-size:13px;padding:2px 0;"><%= detail?.user_billing?.zip_code %> <%= detail?.countryName %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:350px; font-size:13px;padding:2px 0;"><%= detail?.user_billing?.billing_email %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:350px; font-size:13px;padding:2px 0;"><%= detail?.user_billing?.phone_number %>
                                            </td>
                                        </tr>
                                        
                                        <!-- <tr>
                                        <td style="width:350px; font-size:13px;padding:2px 0;">
                                            <%= detail?.user_subscription?.type %>
                                        </td>
                                        </tr> -->

                                    
                                    </table>
                                </td>
                            </tr>
                            <tr> </tr>
                            <tr> </tr>
                            <tr style="font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;"> 
                                <td colspan="2">
                                    <table  style="font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
                                    <th scope=''></th>
         
                                            
                                            <tr >
                                            <td style="width:350px; font-size:13px; padding:2px 0;">
                                               <b> Account Type </b>: <%= detail?.user_type %>
                                            </td>
                                            </tr>
                                            <tr>
                                            <td style="width:350px; font-size:13px;padding:2px 0; ">
                                           <b> Paymeny Status </b>: <%= detail?.user_subscription?.payment_status %> 
                                            </td>
                                            </tr>
                                            <tr>
                                            <td style="width:350px; font-size:13px; padding:2px 0;">
                                            <b>Account Type </b>: <%= detail?.user_subscription?.start_date %> - <%= detail?.user_subscription?.end_date %>
                                            </td>
                                            </tr>
                                    </table>
                                </td>
                            </tr>
                </td>
            </tr>
            
        </table> 
        <table style="width:700px; margin:0 auto;font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
            <tr style="width:700px;"  style="margin-top:20px;">
            <td colspan="4" style="padding-top:20px; margin-top:20px;margin-bottom:20px;">
                <b>Terms </b>: Payment is subject to the following Terms and Conditions
            </td>
            </tr>
        </table>

        <!---- body--->

        <table style="width:700px; margin:0 auto;font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
          <thead>
          <tr>
            <th colspan="4" scope='col' style=" text-align: left;padding-top:20px;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size:14px;">Specification</th>
          </tr>
          <tr>
            <td colspan="4"><hr></td>
          </tr>
          <tr style="border:1px solid #f1f1f1; font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
            <th scope='col' style="width:300px; font-size:13px; font-weight:bold; text-align:center; padding:10px 0;">Item Description</th>
            <th scope='col' style="width:120px; font-size:13px; font-weight:bold; text-align:center; padding:10px 0;">Quantity</th>
            <th scope='col' style="width:140px; font-size:13px; font-weight:bold; text-align:center; padding:10px 0;">Price In(<%= detail?.user_subscription?.currency || '-' %>) </th>
            <th scope='col' style="width:140px; font-size:13px; font-weight:bold; text-align:center; padding:10px 0;">Amount In(<%= detail?.user_subscription?.currency || '-' %>)</th>
          </tr>
          </thead>


                    
                    <tr>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px;"> <%= process.env.APP_NAME || 'PeopleView' %> Monthly Subscription - <%= detail?.user_subscription?.user_sub?.package_name %> Package</td>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center">1</td>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center"><%= detail?.user_subscription?.price %> </td>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center"><%= detail?.user_subscription?.price %> </td>
                    </tr>
                    
                    <tr style="background:#f1f1f1; color:#000000; font-size:13px; font-weight:bold;padding:10px 0;">
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px;"></td>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center"></td>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center"><%= detail?.user_subscription?.price %> </td>
                      <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center">
                      <%= detail?.user_subscription?.price %> 
                      </td>
                    </tr>           
                
                      
                      
                      <tr style="background:#f1f1f1; color:#000000; font-size:13px; font-weight:bold;padding:10px 0;">
                        <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px;"></td>
                        <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center"></td>
                        <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center">
                        
                        </td>
                        <td style="border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px; text-align:center">
                        
                        </td>
                      </tr>
                  <tr style="width:300px; border:1px solid #f1f1f1; font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;">
                  <td></td>
                  <td> </td>
                  <td style=" width:150px; border-top:1px solid #f1f1f1; font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px; text-align:center;"><!--total_amount_paid_receipt <br> 
                  <i>(vat_receipt) </i>
                  </br>--></td> 
                  <td style="width:150px; border-top:1px solid #f1f1f1; font-size:13px; color:#333; font-weight:bold; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px 5px;text-align:right;"><%= detail?.user_subscription?.price %>  <%= detail?.user_subscription?.currency %>
                  </td>
                </tr>
                      
        </table>



        <!--- footer start-->

        <table style="width:700px; margin:0 auto; font-family:arial;border-collapse: collapse; font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding-top:400px;">
            <th scope=''></th>
            <tr>
                <td colspan="4"><hr></td>
            </tr> 
            <tr>
                <td  style="font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px;">
                   <%= detail?.companyInfo?.name %>
                </td>
                <td style="font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding-left:30px;">VAT: <%= detail?.companyInfo?.phone %></td> 
                <td></td> 
                <td style="font-size:13px; color:#545454;font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; padding:8px; text-align: right; ">Web: <u><%= detail?.companyInfo?.website_url %></u>
                </td> 
            </tr>
        </table>

</body>
</html>