<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Invoice #6</title>

    <style>
        html,
        body {
            margin: 10px;
            padding: 10px;
            font-family: sans-serif;
        }
        h1,h2,h3,h4,h5,h6,p,span,label {
            font-family: sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 0px !important;
        }
        table thead th {
            height: 28px;
            text-align: left;
            font-size: 16px;
            font-family: sans-serif;
        }
        table, th, td {
            border: 1px solid #ddd;
            padding: 8px;
            font-size: 14px;
        }

        .heading {
            font-size: 24px;
            margin-top: 12px;
            margin-bottom: 12px;
            font-family: sans-serif;
        }
        .small-heading {
            font-size: 18px;
            font-family: sans-serif;
        }
        .total-heading {
            font-size: 18px;
            font-weight: 700;
            font-family: sans-serif;
        }
        .order-details tbody tr td:nth-child(1) {
            width: 20%;
        }
        .order-details tbody tr td:nth-child(3) {
            width: 20%;
        }

        .text-start {
            text-align: left;
        }
        .text-end {
            text-align: right;
        }
        .text-center {
            text-align: center;
        }
        .company-data span {
            margin-bottom: 4px;
            display: inline-block;
            font-family: sans-serif;
            font-size: 14px;
            font-weight: 400;
        }
        .no-border {
            border: 1px solid #fff !important;
        }
        .bg-blue {
            background-color: #414ab1;
            color: #fff;
        }
    </style>
</head>
<body>

    <table class="order-details">
        <thead>
            <tr>
                <th class="no-border" width="100%" colspan="4">
                    <img width='300px' height='100px'  src=<%= logo %> alt='logo'>
                </th>
            </tr>
            <tr>
                 <th class="no-border"  width="50%" colspan="2">
                    <h1>Invoice</h1>
                </th>
                <th width="50%" colspan="2" class="no-border text-end company-data">
                    <span>Invoice Id: <%= information?.InvoiceNumber %></span> <br>
                    <span>Date: <%= information?.OrderDate %></span> <br>
                    <span>Zip code : 560077</span> <br>
                    <span><%= information?.CompanyAddress %></span> <br>
                </th>
            </tr>
            <tr class="bg-blue">
                <th width="50%" colspan="2">Order Details</th>
                <th width="50%" colspan="2">User Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Order Id:</td>
                <td><%= information?.OrderId %></td>

                <td>Full Name:</td>
                <td><%= information?.User_Fname %> <%= information?.User_lname %></td>
            </tr>
            <tr>
                <td>Invoice Number</td>
                <td><%= information?.InvoiceNumber %></td>

                <td>Email Id:</td>
                <td><%= information?.Email %></td>
            </tr>
            <tr>
                <td>Ordered Date:</td>
                <td><%= information?.OrderDate %></td>

                <td>Phone:</td>
                <td><%= information?.Phone %></td>
            </tr>
            <tr>
                <td>Payment Mode:</td>
                <td>Stripe</td>

                <td>Address:</td>
                <td>
                   <%= information?.Country %> 
                    <%= information?.State %>
                    <%= information?.City %>
                    <%= information?.Zip %>
                </td>
            </tr>
            <tr>
                <td>Order Status:</td>
                <td>completed</td>

                <td>Pin code:</td>
                <td><%= information?.Zip %></td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th class="no-border text-start heading" colspan="5">
                    Order Items
                </th>
            </tr>
            <tr class="bg-blue">
                <th width='10%%'>ID</th>
                <th width='40%%'>Product</th>
                <th width='30%%'>Selling Options</th>
                <th width='10%%'>Quantity</th>
                <th width='10%%'>Total</th>
            </tr>
        </thead>
        <tbody>
        <% const courseDetails = JSON.parse(information.CourseDetail); %>
        <% courseDetails.forEach(course => { %>
            <tr>
                <td><%= course.course_id %></td>
                <td><%= course.course_title %></td>
                 <td>
                    <ul>
                        <% course.courseItems.forEach(item => { %>
                            <li><%= item.itemName %>: &emsp; $<%= item.itemPrice %></li>
                        <% }); %>
                    </ul>
                </td>
                 <td><%= course.qty %></td>
                <td>$<%= course.totalPrice %></td>
               
            </tr>
        <% }); %>
        <tr>
            <td colspan=4 align="right"><strong>Sub Total:</strong></td>
            <td>$<%= information.TotalAmount%></td>
        </tr>
        <tr>
            <td colspan=4 align="right"><strong>Discount:</strong></td>
            <td>$<%= information.Discount%></td>
        </tr>
        <tr class="font-bold bg-gray">
            <td colspan=4 align="right"><strong>Total:</strong></td>
            <td>$<%= information.TotalAmount%></td>
        </tr>


    </tbody>
    </table>
    <table>
        <thead> 
            
            <tr>
                <th class="no-border text-start heading" colspan="5">
                   Terms & Conditions:
                </th>
            </tr>
            <thead>
        
        <tbody>
            <tr>
                <td>
                  <ul>
                    <li>Payment<span color="red" >($<%= information?.TotalAmount %>)</span> Processed by Stripe, InvoiceNumber(<%= information?.InvoiceNumber %>) This is an electronically generated invoice/receipt and does not require any signature or official stamp.</li>
                    <li>Billing & Payments: <%= information?.CompanyName %> manages the payments done on our website, which are secured through Stripe payment processor. All your bank/credit/debit card/Stripe, and/or any other billing statements will disclose "ceuTrainers Webinar" for your payments done to <%= information?.Companywebsite %> For any inquiries regarding yearly subscription, billing info, corrections to your invoice, etc., please contact us at <%= information?.CompanyEmail %> Our service hours are: Mon - Fri, 10 am - 5 pm EST. All the delivery are done on email In case your firewall blocked our email. Please contact us / Write to us/ Go to live Chat. We will Respond to you Soon</li>
                    <li>For terms and use :-<a herf='<%= information?.CompanywebsitePolice %>'>   ceu-trainers.com/privacy-policy</a></li>
                  </ul>
            </td>
        </tr>
        </tbody>
    </table>

   



    <br>
    <p class="text-center">
        Thank your for shopping with ceuTrainers
    </p>

</body>
</html>