<%- include('./includes/header.ejs') %>
<body>
  <p>Hello, <%= firstName %> <%= lastName %>,</p>
  <!-- Other dynamic content here -->
  <p><%= customMessage %></p>
</body>
<%- include('./includes/footer.ejs') %>